<!-- <div class="main">
    <h1>CRM</h1>
<div class="top"><b>
    <a href="#contact">Contact</a> <a href="#about">About</a>
 </b>
 </div>
</div>
<div class="sidenav">
    <a routerLink="home">Home</a>
    
      <a routerLink="addCustomer">Customer</a>
   
      <a routerLink="customers">List of Customers</a>
    
      <a routerLink="addStore">Store</a>
    
     
   
      <a routerLink="addEmployee"> Employee</a>
    
     
    
      <a routerLink="addProduct"> Product</a>
   
      
    
      <a routerLink="addCard"> Card</a>
  
     
    
      <a routerLink="addPayment"> Payment</a>
  
     
  
      <a routerLink="addBill"> Bill</a>
   
      
   
     
  
     
  </div>
  <br>
    <router-outlet></router-outlet> -->